.header {
  background: rgb(0, 0, 0);
  /* height: 130px; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}

.company-name {
  font-size: 2.8rem;
  color: orangered;
}

.navbar {
  /* background: lightblue; */
  width: 250px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.nav-links {
  list-style-type: none;
}

.links {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.links:hover {
  border-bottom: 2px solid #fff;
}

@media (max-width: 710px) {
  .company-name {
    font-size: 2.6rem;
  }

  .navbar {
    width: 150px;
    gap: 20px;
  }
}
