body {
  background: #f1f1f1;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
}

.items {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 7px;
  margin: 0 auto;
}

.item-image {
  width: 300px;
  height: 380px;
}

.item-name {
  font-size: 1.5rem;
}

.item-price {
  padding-left: 3px;
  font-weight: bold;
}

.add-item-btn {
  background: #000;
  color: #fff;
  padding: 12px 21px;
  font-size: 1.1rem;
  cursor: pointer;
}

.add-item-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

/*========== Shopping cart style ==========*/
.shopping-cart-container {
  /* background: lightblue; */
  display: flex;
  justify-content: flex-end;
}

.shopping-cart {
  position: fixed;
  background: orangered;
  padding: 15px;
  border: none;
  border-radius: 50px;
  /* margin-left: 130px;
  margin-top: 450px; */
  margin-left: 40px;
  margin-top: 450px;
  cursor: pointer;
}

.shopping-cart:hover {
  background: rgb(181, 54, 0);
}

.items-count {
  position: fixed;
  background: rgb(223, 40, 40);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 50px;
  /* margin-left: 130px;
  margin-top: 505px; */
  margin-top: 508px;
  margin-right: 10px;
}
